---
---
<!DOCTYPE html>
<html>

  {% include nbhead.html %}

  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {% include banner.html %}
        <div tabindex="-1" id="notebook" class="border-box-sizing">
          <div class="container" id="notebook-container">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
